.form-group {
    margin-top: 1.2rem;
}

form {
    margin: 0 auto;
    width: 50%;
}


label {
    margin-bottom: 0.3rem;
}

.table-row {
    cursor: pointer;
}


#list {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#list th,
#list td {
    text-align: left;
    padding: 12px;
}

#list tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#list tr.header,
#list tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}