<div class="row mb-4">
    <div class="btn-group" name='container'>
        <button class="btn btn-primary" btnRadio='Student'
        (click)="student=true">
            <i class="fa fa-graduation-cap"></i> Student
        </button>
        <button class="btn btn-primary" btnRadio='Staff'
        (click)="student=false">
            <i class="fa fa-user"></i> Staff
        </button>
    </div>
</div>

<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary mb-2">Sign up</h2>
    <hr>
    <div class="form-group has-success" *ngIf="student">
        <label>Student Number</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.studentNo.touched) && formControls.studentNo.errors?.required">
            Student Number is required
        </span>
        <input type="text" 
        [ngClass]="{'is-valid' : (!formControls.studentNo.invalid && formControls.studentNo.touched), 
        'is-invalid' : (formControls.studentNo.invalid && formControls.studentNo.touched)}" 
        formControlName="studentNo" class="form-control" placeholder="Enter your student number">
    </div>
    <div class="form-group has-success" *ngIf="!student">
        <label>Staff Number</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.staffNo.touched) && formControls.staffNo.errors?.required">
            Staff Number is required
        </span>
        <input type="text" 
        [ngClass]="{'is-valid' : (!formControls.staffNo.invalid && formControls.staffNo.touched), 
        'is-invalid' : (formControls.staffNo.invalid && formControls.staffNo.touched)}" 
        formControlName="staffNo" class="form-control" placeholder="Enter your staff number">
    </div>
    <div class="form-group">
        <label>First name</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.firstName.touched) && formControls.firstName.errors?.required">
            First Name is required
        </span>
        <input type="text" 
        formControlName="firstName" [ngClass]="{'is-valid' : (!formControls.firstName.invalid && formControls.firstName.touched), 
        'is-invalid' : (formControls.firstName.invalid && formControls.firstName.touched)}"
        class="form-control" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <label>Last name</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.lastName.touched) && formControls.lastName.errors?.required">
            Last Name is required
        </span>
        <input type="text" 
        [ngClass]="{'is-valid' : (!formControls.lastName.invalid && formControls.lastName.touched), 
        'is-invalid' : (formControls.lastName.invalid && formControls.lastName.touched)}"
        formControlName="lastName" class="form-control" placeholder="Enter your last name">
    </div>
    <div class="form-group">
        <label>Email</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.email.touched) && formControls.email.errors?.required">
            Email is required
        </span>
        <span class="text-danger form-text"
            *ngIf="(formControls.email.touched) && formControls.email.errors?.email">
            Not valid email
        </span>
        <input type="text" 
        formControlName="email" 
        [ngClass]="{'is-valid' : (!formControls.email.invalid && formControls.email.touched), 
        'is-invalid' : (formControls.email.invalid && formControls.email.touched)}"
        class="form-control" placeholder="Enter your email">
    </div>
    <div class="form-group">
        <label>Phone number</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.phoneNo.touched) && formControls.phoneNo.errors?.required">
            Phone number is required
        </span>
        <span class="text-danger form-text"
            *ngIf="(formControls.phoneNo.touched) && formControls.phoneNo.errors?.minlength">
            Phone number must at least be 10 numbers
        </span>
        <span class="text-danger form-text"
            *ngIf="(formControls.phoneNo.touched) && formControls.phoneNo.errors?.maxlength">
            Phone number must at most be 11 numbers and a plus (+) sign
        </span>
        <input type="text" 
        formControlName="phoneNo" 
        [ngClass]="{'is-valid' : (!formControls.phoneNo.invalid && formControls.phoneNo.touched), 
        'is-invalid' : (formControls.phoneNo.invalid && formControls.phoneNo.touched)}"
        class="form-control" placeholder="Enter your contact number">
    </div>
    <div class="form-group">
        <label>Gender</label>
        <select formControlName="gender" class="form-control" id="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
    <div class="form-group">
        <label>Password</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.password.touched) && formControls.password.errors?.required">
            Password is required
        </span>
        <input type="password" 
        [ngClass]="{'is-valid' : (!formControls.password.invalid && formControls.password.touched), 
        'is-invalid' : (formControls.password.invalid && formControls.password.touched)}"
        formControlName="password" class="form-control" placeholder="Enter your password">
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.confirmPassword.touched) && formControls.confirmPassword.errors?.required">
            Confirm password is required
        </span>
        <span class="text-danger form-text"
            *ngIf="(formControls.confirmPassword.touched) && formControls.confirmPassword.errors?.isMatching">
            Passwords do not match
        </span>
        <input type="password" 
        [ngClass]="{'is-valid' : (!formControls.confirmPassword.invalid && formControls.confirmPassword.touched), 
        'is-invalid' : (formControls.confirmPassword.invalid && formControls.confirmPassword.touched)}"
        formControlName="confirmPassword" class="form-control" placeholder="Confirm password">
    </div>

    <div class="form-group text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default me-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>